#myframe {
  position: fixed;
  right: 0;
  top: 60%;
  transform: translate(0, -50%);
  width: 450px;
  height: 700px;
  background-color: white;
  border: 0px;
  border-radius: 10px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 99998;
transition: right 0.5s ease-in-out;
display: none;
}

#myButton {
    
    transition: all .25s ease;
    




 position: fixed;
  bottom: 0px;
  right: .5px;
  z-index: 99999;
    


	
}
#refresh{
  transition: all .25s ease;
    




  position: fixed;
   bottom: 0px;
   right: 100px;
   z-index: 99994;

   
}
#UserAdd {
  transition: all .25s ease;
    




  position: fixed;
 
 right: 390px;
  bottom:0px;
   z-index: 99997;
 
     

}



#Userinfo {
  transition: all .25s ease;
    




 position: fixed;

right: 258px;
 bottom:0px;
  z-index: 99997;

    
}
#span {
  position: fixed;
 bottom: -10px;
 right: 0px;
 z-index: 999;
background-color:inherit;
width: 532px;
height: 40px;
}





